<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
  </head>
  <body>
  <section class="section">
    <div class="container">
        <div class="weather-flex">
            <div class="title has-text-centered weather-title">
                Weather Info
            </div>
            <div class="weather-input-container">
                <div class="weather-input mb-4">
                    <input class="input is-rounded" type="text" placeholder="Enter place name">
                </div>
                <div class="weather-input-submit">
                    <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  </body>
</html>